Ini adalah markdown. Ini adalah  **bold**.

In [1]:
100

100

In [2]:
!python --version

Python 3.9.4

In [3]:
print(999)
#print menampilkan sesuatu - build in function , keyword

999

In [4]:
type(999)
#menunjukkan type data

int

In [5]:
type(3.14)

float

In [6]:
type(1.0)

float

In [7]:
type(1)

int

In [10]:
print(1.)
type(1.)
print(.3)
type(.3)
#ga perlu nulis 0

1.0
0.3

float

In [11]:
print(12345)
#ga ada tulisan OUT, dengan menulis print bentuk tampilan 12345, print ga nampilin output tp nampilin display

12345

In [12]:
1234
#dia ga nampilin tetapi cuma menghasilkan output

1234

In [13]:
print("hacktiv8")#double codes
print('hacktiv8') #single codes

hacktiv8
hacktiv8

In [18]:
print("""hacktiv8""")#triple codes = untuk multiple lines
print('''hacktiv8''')
print("ha'tiv")
print("\"I am attending ha'tiv8\", he said")
print('\"I am attending ha\'tiv8", he said')
print("""
I ama ha'tiv.
I am attending hacktiv8
""")
#campsulation codes
#print('ha'tiv')= bakal error makanya meminimalisirkan

hacktiv8
hacktiv8
ha'tiv
"I am attending ha'tiv8", he said
"I am attending ha'tiv8", he said

I ama ha'tiv.
I am attending hacktiv8

In [19]:
print(12345*10)

123450

In [20]:
type(print("hacktiv8")),type(None) #print cuma display saja maka tidak ada type data
#output itu ada nilai

hacktiv8

(NoneType, NoneType)

In [21]:
type(100), type(100.),type('100')

(int, float, str)

In [22]:
100, 100., '100'

(100, 100.0, '100')

In [23]:
type(-10), type(-10.)

(int, float)

In [24]:
type(True), type(False)

(bool, bool)

In [29]:
int(10.01), float(10), str(19), bool(1),bool(1000),bool(1.34),bool(-10) 
#convert type data
#primitive data type

(10, 10.0, '19', True, True, True, True)

In [28]:
bool(0), bool(None),bool("") # ga ada datanya makanya false

(False, False, False)

In [30]:
#Variable
n = 300
print(n)

300

In [32]:
a=b=c=300
print(a,b,c)

300 300 300

In [36]:
print(n, type(n))

1000 <class 'str'>

In [39]:
n = 1000
a = b = c = 500
x = y = 3.14
print(n, type(n))
print(a,b,c, type(a), type(b), type(c))
print(x,y, type(x), type(y))

1000 <class 'int'>
500 500 500 <class 'int'> <class 'int'> <class 'int'>
3.14 3.14 <class 'float'> <class 'float'>

In [37]:
s = "Hacktivate"
n = str(n)
print(s, type(s))
print(n, type(n))

Hacktivate <class 'str'>
1000 <class 'str'>

In [ ]:
#klo di restart atau shut down perlu define lagi variable nya
# run all aja atau restart & run all
#has_laptops => slip case
# ga boleh diawali dengan angka 
# konstan = valuenya ga bisa diubah

In [38]:
username ="syahrulhamdani"
num_students = 14
#ns = 14 bisa aja tp enakan readible
COUNT = 5
print(username, num_students, COUNT)
COUNT = 10
print(COUNT) #biasanya capital udh dianggap tidak akan berubah

syahrulhamdani 14 5
10

In [45]:
#print(a**b) = pangkat
print(a + b, type(a*b))
print(a * b, type(a / b))
print(a / b)
print(a // b, type( a // b))
print(5 // 2, type( 5 // 2))
print(5 / 2, type( 5 / 2))
print(4 / 2)
print(a - x, type(a - x))
print(a ** 2)
print(x ** 2)
print(n % 501)

1000 <class 'int'>
250000 <class 'float'>
1.0
1 <class 'int'>
2 <class 'int'>
2.5 <class 'float'>
2.0
496.86 <class 'float'>
250000
9.8596
499

In [46]:
5 % 2

1

In [48]:
#$5/2 = (2 * 2) + 1$

SyntaxError: invalid syntax (<ipython-input-48-fcfb750e529d>, line 1)

In [55]:
print(s * 3)
print(s + s + s)

HacktivateHacktivateHacktivate
HacktivateHacktivateHacktivate

In [58]:
print(s+ str(3)) 
print("hacktiv" + " " + "8")
print("hacktiv" + " " + "8", "hacktiv" + "8", "hacktiv" + str(8))

Hacktivate3
hacktiv 8
hacktiv 8 hacktiv8 hacktiv8

In [62]:
print(s *-1)
print((s*3) *-1)
print("ackack" * -1)
type(print("ackack" * 0))

NoneType

In [63]:
book_title = "monty's python"
bootcamp_name = "hacktiv8"
password = "mY9nAmEIS"

print(book_title)
print(bootcamp_name)
print(book_title.title())
print(bootcamp_name.upper())
print(password.swapcase()) #built in method
print(password.lower()) #built in method of string
#' funtuation

monty's python
hacktiv8
Monty'S Python
HACKTIV8
My9NaMeis
my9nameis

In [1]:
"Whether you think you can, or you think you can't--you're right."

"Whether you think you can, or you think you can't--you're right."

In [2]:
print('Whether you think you can, or you think you can\'t--you\'re right.')

Whether you think you can, or you think you can't--you're right.

## PYTHON LISTS

In [4]:
names = ["Adit" ,"Bagus", "Daniel", "Dezenia", "Ilham", "Maria","Yusuf", 53, 8]
print(names, type(names))

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf', 53, 8] <class 'list'>

In [ ]:
#list ordered -> bisa mengurutkan item ke satu hingga ke akhir
#Slicing item 1- item 3 diambil
#item yang terkandung bisa str atau int
#list bisa terdiri dari list juga list of list
#mutable -> bisa diubah
#list ordered 
# a==b kalau sama akan jadi true klo ga sama jadi false

In [5]:
names == names

True

In [6]:
others = ["Satya", "Richard", "Stefani", "Timotius", "Veronica", "Viony", "Yoga"]
print(others)

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']

In [7]:
names == others

False

In [8]:
#build in function 
# print, len, str
# len = akan mengembalikan jumlah item yang terdapat pada sequence item
len(others)

7

In [9]:
num_others = len(others)
num_names = len(names)

print("length others:", num_others)
print("length names :", num_names)

length others: 7
length names : 9

In [12]:
len ([1, 2, 3, 4, [1, 2, 3], ["satu", "dua"]])
# yang di dalam list dihitung jadi satu item

6

In [13]:
[[1,2,3], [2,3], ["satu", "dua", "tiga", "empat"]]

[[1, 2, 3], [2, 3], ['satu', 'dua', 'tiga', 'empat']]

In [14]:
print("item 1 of names:", names[0])
print("item 2 of names:", names[1])
print("item 5 of names:", names[4])

item 1 of names: Adit
item 2 of names: Bagus
item 5 of names: Ilham

In [15]:
randoms = [None, True, -100, "h8", 0.001]
print(randoms)

[None, True, -100, 'h8', 0.001]

In [20]:
print(randoms[0], randoms[1], randoms[3])

None True h8

In [27]:
#negative index
print(others[-1])
print(names[0])
print(names[-9])
print(names [0] == names[-len(names)])
print(names [0], names[-len(names)])
print(names[len(names)-1] == names[-1])
print(names[len(names)-1], names[-1])
print(names[-1], names[-2])

Yoga
Adit
Adit
True
Adit Adit
True
8 8
8 53

In [28]:
#Slicing
# a[m:n]

print(others)

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']

In [31]:
print(others[1:4])
print(others[1:4], others[2:5], others[0:len(others)//2])
# index ke-empat tidak ditampilkan
# // biar int, pake len biar tau tengahnya

['Richard', 'Stefani', 'Timotius']
['Richard', 'Stefani', 'Timotius'] ['Stefani', 'Timotius', 'Veronica'] ['Satya', 'Richard', 'Stefani']

In [33]:
print(names)
print(names[0:len(names)//2], names[len(names)//2:])
#dezenia itu 4.5 jadi kemasuk index 4

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf', 53, 8]
['Adit', 'Bagus', 'Daniel', 'Dezenia'] ['Ilham', 'Maria', 'Yusuf', 53, 8]

In [37]:
nested_list= [[1,2,3],4,[5,6,7]]
print(nested_list)
print(nested_list[0], nested_list[1], nested_list[2])
print(nested_list[0][0], nested_list[0][1:])

[[1, 2, 3], 4, [5, 6, 7]]
[1, 2, 3] 4 [5, 6, 7]
1 [2, 3]

In [42]:
names[0] = "hacktiv8"
print(names)

['hacktiv8', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf', 53, 8]

## Python Tuples

In [38]:
#tuples pake () tp ga bisa diubah

In [43]:
batch =("PYTN53", "PYTN54", 53, 54)
batches = (("PYTN053ONL", 53),("PYTN054ONL",54))
print(batch, len(batch), batch[0], type(batch))
print(batches,len(batches), batches[0], type(batches))

('PYTN53', 'PYTN54', 53, 54) 4 PYTN53 <class 'tuple'>
(('PYTN053ONL', 53), ('PYTN054ONL', 54)) 2 ('PYTN053ONL', 53) <class 'tuple'>

In [ ]:
#batch[-1] = 100 bakal error will throw error
#digunain biar ga sengaja diganti

In [49]:
# packing and unpacking
a, b, c, d = batch # unpacking
print(a)
print(b)
print(c)
print(d)

batch_name, batch_number = batches
print(batch_name)
print(batch_number)

name_1, _ = batches
print(name_1)
print(name_2) # _ menandakan ga akan dipakai

PYTN53
PYTN54
53
54
('PYTN053ONL', 53)
('PYTN054ONL', 54)
('PYTN053ONL', 53)
('PYTN054ONL', 54)

## Python Dictionary

In [50]:
#type data meta, bisa tau type nya dan index tapi namanya bukan index tp key-value
#contoh: names : Satya, pemisah antar value :

In [51]:
profiles = {
    "names" : ["harry", "michael", "jordan", "super"], 
    "age" : [18, 33, 24, 40], 
    100: "seratus"
}
print(profiles, type(profiles))

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 100: 'seratus'} <class 'dict'>

In [52]:
profiles[100]

'seratus'

In [53]:
profiles["age"]

[18, 33, 24, 40]

In [54]:
profiles["names"]

['harry', 'michael', 'jordan', 'super']

In [56]:
print(profiles.keys())
print(profiles.values())

dict_keys(['names', 'age', 100])
dict_values([['harry', 'michael', 'jordan', 'super'], [18, 33, 24, 40], 'seratus'])

In [57]:
profiles["age"] = 50 #bisa diganti listnya

In [58]:
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': 50, 100: 'seratus'}

In [59]:
profiles["location"] = ["Jakarta", "bandung", "Surabaya"]
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': 50, 100: 'seratus', 'location': ['Jakarta', 'bandung', 'Surabaya']}

In [60]:
profiles[(1,2)] = "(1,2)"

In [62]:
profiles

{'names': ['harry', 'michael', 'jordan', 'super'],
 'age': 50,
 100: 'seratus',
 'location': ['Jakarta', 'bandung', 'Surabaya'],
 (1, 2): '(1,2)'}

In [65]:
list_keys = [(1,2), (3,4), (5,6)]
print(profiles[list_keys[0]])

(1,2)

In [66]:
# a == b
# a != b
# a <= b
# a >= b