In [1]:
#Conditional merupakan control flow
#ekspresi yang dihitung
# statement
# if <expr>:
#    <statement> indekasi block code

In [2]:

names = ["Adit" ,"Bagus", "Daniel", "Dezenia",
         "Ilham", "Maria","Yusuf"]
print(names)
print(others)

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf']
['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']

In [14]:
x = 0
y = 50
z = "satya"
if x < y:
    print(f"Yes! {x} < {y}")
    print("Yes! {} < {}".format(x,y))
    
if z.title() in others:
    print(f"name: {z} is in others") # ga jalan karena satya nya lower case
    print(z * 3)
    
if z in others:
    print(f"name: {z} is in others") # ga jalan karena satya nya lower case
    print(z * 3)
else:
    print(f"{z} is not in others")

Yes! 0 < 50
Yes! 0 < 50
name: satya is in others
satyasatyasatya
satya is not in others

In [15]:
if z in others:
    print(f"name: {z} is in others") # ga jalan karena satya nya lower case
    print(z * 3)
print(f"{z} is not in others") # dia udh diluar if

satya is not in others

In [ ]:
#ELIF
# if<expr>:
#    <statement(s)>
#  else:
#    <statement(s)>

In [17]:
book_price = 1000
mag_price = 500
money = 600

if money >= book_price:
    print("let's buy a book")
elif money >= mag_price:
    print("just buy magazines")
else: print("let's collect more money")

just buy magazines

In [ ]:
# menggunakan () fucntion len,print, str,int
# menjalankan atau memanggil sebuah function pakai (argument)
# {} biasanya di dictionary dan khusus untuk subtitusi variable
# others "list: {}".format(others) dipake untuk method format jadi place holder
# f"list: {others[0]}
# [] kebanyakan digunakan untuk indexing

In [18]:
min_score = .7
score = .65
if score > min_score:
    print("success")
else:
    print("remedy")

remedy

## Loop

In [19]:
#loop adalah control flow
#while<expr>:
# <statement(s)>

In [21]:
score = 1
min_score = 7

if score < min_score:
    print(score,"less than {}".format(min_score))

1 less than 7

In [22]:
while score < min_score:
    print(score,"less than {}".format(min_score))
    score = score + 1

1 less than 7
2 less than 7
3 less than 7
4 less than 7
5 less than 7
6 less than 7

In [25]:
idx = 0
while idx < len(names):
    print(idx,"name:", names[idx])
    idx = idx + 1
    
idx = 0 
while idx < len(names):
    print(idx,"name:", names[idx])
    idx = idx + 2

0 name: Adit
1 name: Bagus
2 name: Daniel
3 name: Dezenia
4 name: Ilham
5 name: Maria
6 name: Yusuf
0 name: Adit
2 name: Daniel
4 name: Ilham
6 name: Yusuf

In [26]:
idx = 0
while idx < len(names):
    if idx == 2:
        break
    print(idx,"name:", names[idx])
    idx = idx + 1

0 name: Adit
1 name: Bagus

In [31]:
# skip name with index 3, 6, 9, etc.
idx = 0
while idx < len(names):
    if (idx % 3 == 0) and (idx != 0):
        idx = idx + 1
        continue
    print(idx,"name:", names[idx])
    idx = idx + 1

0 name: Adit
1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria

## For

In [32]:
# for i in <collection>
# <loop body>
# looping dari itemnya bukan dari index

#for<var> in <iterable>:
#    <statement(s)>

In [33]:
print(others)

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']

In [34]:
for name in others:
    print(name)
# name adalah collection di dalam others

Satya
Richard
Stefani
Timotius
Veronica
Viony
Yoga

In [36]:
for i in [1, 2, 3, 4, 5,6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
print(name, name[0], name[1], name[2])

Yusuf Y u s

In [39]:
# output "s-a-t-y-a"
for name in names:
    print("name:", name)
    for char in name:
        print(char)
# adit udh menjadi str

name: Adit
A
d
i
t
name: Bagus
B
a
g
u
s
name: Daniel
D
a
n
i
e
l
name: Dezenia
D
e
z
e
n
i
a
name: Ilham
I
l
h
a
m
name: Maria
M
a
r
i
a
name: Yusuf
Y
u
s
u
f

In [41]:
for name in names:
    print("name:", name)
    s = ""
    for char in name:
        s = s + char + "-"
    print(s.lower())

name: Adit
a-d-i-t-
name: Bagus
b-a-g-u-s-
name: Daniel
d-a-n-i-e-l-
name: Dezenia
d-e-z-e-n-i-a-
name: Ilham
i-l-h-a-m-
name: Maria
m-a-r-i-a-
name: Yusuf
y-u-s-u-f-

In [ ]:
# kalau pake for loop itu sequence nya sudah terdefinisi dengan jelas

In [44]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
print(list(range(100)))
print(list(range(0,100, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [51]:
for i in range(len(names)):
    print(names[i])

Adit
Bagus
Daniel
Dezenia
Ilham
Maria
Yusuf

In [52]:
for i in names:
    print(i)

Adit
Bagus
Daniel
Dezenia
Ilham
Maria
Yusuf

In [56]:
for i in range(len(names)):
    if (i % 3 == 0) and (i != 0):
        continue
    print(i,"name:", names[i])

0 name: Adit
1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria

In [57]:
profiles = {
    "names" : ["harry", "michael", "jordan", "super"], 
    "age" : [18, 33, 24, 40], 
   "location": ["jakarta", "bandung", "surabaya", "jogja"]
}
print (profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 'location': ['jakarta', 'bandung', 'surabaya', 'jogja']}

In [58]:
print(profiles.keys())
print(profiles.values())

dict_keys(['names', 'age', 'location'])
dict_values([['harry', 'michael', 'jordan', 'super'], [18, 33, 24, 40], ['jakarta', 'bandung', 'surabaya', 'jogja']])

In [59]:
for key in profiles.keys():
    print(key,"-", profiles[key])

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [60]:
profiles.items()

dict_items([('names', ['harry', 'michael', 'jordan', 'super']), ('age', [18, 33, 24, 40]), ('location', ['jakarta', 'bandung', 'surabaya', 'jogja'])])

In [61]:
list(profiles.items())[0]

('names', ['harry', 'michael', 'jordan', 'super'])

In [62]:
key, value = list(profiles.items())[0]
print(key, "-", value)

names - ['harry', 'michael', 'jordan', 'super']

In [63]:
for key, value in profiles.items():
    print(key, "-", value)

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [67]:
list_keys = ["twos", "three", "fours", "fives", "sixes"]
multiplier = 2
for key in list_keys:
    value = []
    for i in range(4):
        value.append(i * multiplier) #nambahin satu item 
    multiplier = multiplier + 1
    profiles[key] = value
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 'location': ['jakarta', 'bandung', 'surabaya', 'jogja'], 'twos': [0, 2, 4, 6], 'three': [0, 3, 6, 9], 'fours': [0, 4, 8, 12], 'fives': [0, 5, 10, 15], 'sixes': [0, 6, 12, 18]}